@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rajdhani&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --blanc_principal:#FFFF;
    --blanc_secondaire:#ECECEC;
    --blanc_gris:#D0D0D0;
    --bleu_ciel:#089AD4;
    --bleu_fonce:#1B2D45;
    --noir_principal:#2C2D33;
    --noir_secondaire:#23242A;
    --noir:#1C1D21;
}

body{
    background-color: var(--noir_principal);
}
.body2{
    margin-right: 15px;
    margin-left:15px ;
}
p{
    color: var(--blanc_principal);
}
/**       HEADER        **/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav img{
    width: 150px;
}
nav i{
    color: var(--blanc_principal);
    font-size: 20px;
    margin-top: 8px;
}
nav a{
    text-decoration: none;
    color: var(--blanc_principal) !important;
    font-weight: bold;

}
.nav{
    background-color: var(--noir);
}

.menu li{
    list-style: none;
    font-size: calc(15px + 0.5vw);
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: var(--noir);
}

#icon{
    color: var(--blanc_principal);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.icons{
    display: none;
}
.iconspc{
    display: none;
}


@media (max-width: 650px){
    .active .menu{
        margin-left: 0% !important;
        background-color: var(--noir);
        transition: 0.5s;
    }
    .menu{
        margin-left: 2000px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    #icon:before {
        content: "\2630" ;
        font-size: 25px;
    }
    #icon div{
        display: none;
    }
    .active #icon:before {
        content: "\2715";
        font-size: 25px;
    }
    nav li{
        line-height: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact{
        display: flex;
        justify-content: space-between;
    }
    .contact i{
        font-size: 20px;
        width: 30px;
     }

     .icons{
        display: flex !important;
     }
     nav img{
        margin-left: 50px;
    }
    .nav{
        position: fixed;
        width: 97%;
    }
    .menu{
        position: fixed;
        width: 100%;
        margin-top: 128px;
    }
    nav{
        height: 150px;
    }
    .categories{
        overflow-x: scroll;
    }
    .nav{
        z-index: 2;
    }
}

@media (min-width: 650px){
    nav img{
        margin-left: 110px;
    }
    .iconspc{
        display: flex !important;
        justify-content: space-between;
        width: 100px;
    }
    #icon{
        display: none;
    }
    .connexion{
        display: none;
    }
    .categories ul{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    .categories{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .menu li{
        padding: 10px;
    }
}

/*         DERNIERE ACTU           */

/*    nav actu     */

.categories{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: var(--noir_secondaire);
}
.categories ul{
    display: flex;
    width: 830px;
}

.categories li{
    padding: 9px;
    list-style: none;
    font-style: oblique;
}
.categories a{
    text-decoration: none;
    color: var(--blanc_principal);
}


/*    pop up    */


#popup{
    background-color: var(--noir_secondaire);
    margin-top: 20px;
    height: 100px;
    border-radius: 5px;
}

#popup #croix{
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
#croix p{
    color: var(--bleu_ciel) !important;
}

.textpopup p{
    color: var(--blanc_principal);
    font-size: calc(15px + 0.5vw);
    text-align: center;
}

.fermer{
    display: none;
}

/*         article principal     */
.arrow{
    width: 32px;
    z-index: 0 !important;
}
.degrade{
    background: rgb(44,45,51);
    background: linear-gradient(0deg, rgba(44,45,51,1) 0%, rgba(35,36,42,1) 100%); 
}
.degrade{
    display: flex;
    justify-content: end;
}

.contenu{
    background-color: var(--noir_secondaire);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 30px;
}
.contenu p{
    font-size: calc(15px + 0.5vw);
}
.souscontenu1 img{
    width: 100%;
    border-radius: 5px;
}

.souscontenu2{
    text-align: center;
    padding: 20px;
}
.souscontenu1{
    height: 100%;
    border-radius: 5px;
}
.italique{
    font-style: oblique;
}
.gras{
    font-weight: bold;
}


.info p{
    font-size: calc(12px + 0.5vw);
}

.citation{
    border-left: solid 4px var(--bleu_ciel);
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

/*     Article secondaire   */

.articlesecondaire{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 5px;
}

.contenaire{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

hr{
    border: var(--bleu_ciel) solid 1px;
    width: calc(50px + 1vw);
}
h2{
    color: var(--blanc_principal);
    font-size: calc(12px + 0.5vw);
}
.fond1{
    background-image: url(../image/raw.jpg);
}

.fond p{
    background-color: var(--noir_secondaire);
    margin: 5px;
    border-radius: 5px;
    font-size: calc(12px + 0.5vw);
    padding: 10px;
}
.fond{
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.fond2{
    background-image: url(../image/eviter-sourdine-instagram.jpg);
}

.conteneur img{
    max-width: 150px;
    max-height: 100px;
    border-radius: 5px;
}

.conteneur a{
    background-color: var(--noir_secondaire);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.conteneur{ 
    margin-top: 50px;
}

.conteneur a p{
    font-size: calc(15px + 0.5vw);
    padding: 10px;
}

/*   FOOTER   */

footer{
    background-color: var(--noir);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
footer a{
    font-size: calc(10px + 0.5vw);
    color: var(--blanc_principal);
    text-decoration: none;
    cursor: pointer;
}